ubuntu_PASSWORD='{{ hostvars[groups['dpus'][0]]['ansible_password'] | password_hash("md5") }}'
{% if change_dpu_rshim_mac == true %}
NET_RSHIM_MAC={{ dpu_rshim_mac }}
{% endif %}
WITH_NIC_FW_UPDATE=yes

bfb_modify_os()
{
log ===================== bfb_modify_os =====================
}
